#mainPage{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(43, 36, 36);
}
#mainPageContent{
    margin: 250px 0px;
}
#mainPageContent > *{
    text-align: center;
    color: white;
    margin-top: 20px;
}
#mainPageContent > button{
    display: block;
    margin: auto;
    background-color: rgb(255, 123, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}
#mainPageContent > h1{
    font-size: 70px;
    margin-bottom: 10px;
}
#mainPageContent > p{
    font-size: 15px;
}
#aboutUs{
    background-color: #0b161a;
}
#aboutUs > p{
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 100px;
}
#aboutUs > h1{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: -5px;
}
#aboutUsContainer{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}
.AUpictures{
    width: 380px;
    height: 420px;
    background-color: antiquewhite;
    border: blue solid 1px;
}
